.main {
  padding-top: 96px;
  min-height: 100vh;
  color: var(--boo-navy);
  /* background-image: url(../assets/bow.jpg);
  background-size: cover;
  background-position: center; */
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

.title {
  color: var(--boo-teal);
  margin-top: 2rem;
  font-size: 2.5rem;
  text-align: center;
  font-family: var(--font-display);
  /* font-family: Koulen; */
}

.intro {
  margin-top: 2rem;
  max-width: 860px;
  /* font-size: 1.2rem; */
}

.flex {
  display: flex;
  justify-content: space-between;
  margin: 1rem;
}

.flex:first-child {
  font-family: Sarina;
}

.box {
  color: white;
  background-color: var(--boo-teal);
  padding: 1.5rem;
  max-width: 550px;
  border-radius: 0 50px;
  margin-top: 2rem;
}

.box > p {
  text-align: center;
}

.paddle {
  font-family: var(--font-sans);
  font-size: 2.5rem;
  text-align: right;
}

.three {
  font-size: 7rem;
  line-height: 3rem;
}

.for {
  font-size: 1.5rem;
}

.free {
  font-size: 2.5rem;
  margin-left: 3rem;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 50vh;
  width: 100vw;
}

/* Mobile */
@media (max-width: 700px) {
  .content {
    padding: 4rem;
  }

  .grid {
    grid-template-columns: 1fr;
    margin-bottom: 120px;
    max-width: 320px;
    text-align: center;
  }

  .card {
    padding: 1rem 2.5rem;
  }

  .card h2 {
    margin-bottom: 0.5rem;
  }

  .center {
    padding: 8rem 0 6rem;
  }

  .center::before {
    transform: none;
    height: 300px;
  }

  .description {
    font-size: 0.8rem;
  }

  .description a {
    padding: 1rem;
  }

  .description p,
  .description div {
    display: flex;
    justify-content: center;
    position: fixed;
    width: 100%;
  }

  .description p {
    align-items: center;
    inset: 0 0 auto;
    padding: 2rem 1rem 1.4rem;
    border-radius: 0;
    border: none;
    border-bottom: 1px solid rgba(var(--callout-border-rgb), 0.25);
    background: linear-gradient(
      to bottom,
      rgba(var(--background-start-rgb), 1),
      rgba(var(--callout-rgb), 0.5)
    );
    background-clip: padding-box;
    backdrop-filter: blur(24px);
  }

  .description div {
    align-items: flex-end;
    pointer-events: none;
    inset: auto 0 0;
    padding: 2rem;
    height: 200px;
    background: linear-gradient(
      to bottom,
      transparent 0%,
      rgb(var(--background-end-rgb)) 40%
    );
    z-index: 1;
  }
}

/* Tablet and Smaller Desktop */
@media (min-width: 701px) and (max-width: 1120px) {
  .grid {
    grid-template-columns: repeat(2, 50%);
  }
}

@media (prefers-color-scheme: dark) {
  .vercelLogo {
    filter: invert(1);
  }

  .logo {
    filter: invert(1) drop-shadow(0 0 0.3rem #ffffff70);
  }
}

@keyframes rotate {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}
